@import url('https://fonts.googleapis.com/css?family=Roboto:400,600');

html,
body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 1em;
	line-height: 1.3;
	font-weight: 400;
}

.canvas-div {
	position: relative;
	/*max-width: 1600px;*/
	/*width: 100%;*/
	height: 100%;
	margin: 20px auto 0 auto;
	border: 1px solid #eee;
	padding: 0;
	margin: 0;
}

.nav{
	
	position: absolute;
	right: 5px;
	bottom: 15px;
}

.button {
	float: left;
	background: #eee;
	color: #555;
	border-radius: 50%;
	padding: 5px;
	text-transform: uppercase;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	margin-right: 10px;
	font-size: 0.8em;
	padding: 15px;
}

.button:hover, .button:active{
background: #92bc43;
}

#button-animation.active{
	background: #92bc43;
}


#canvas {
	margin: 0;
	width: 100%;
	height: 100%;
	/*touch-action: none;*/
	outline: none;
	
}